body{
    font-family: Arial, sans-serif;
    font-style: italic;
    margin: 20px;
    padding: 0;
    background-color: #00fca8;
}

button {
    padding-bottom: 10px;
    background-color: #61df65;
    border: 0px;
    margin: 20px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
}

